:root {
  --primary-color: #2447f9;
  --secondary-color: #e5e9f2;
  --third-color: #f6f8fd;
  --nonactive-color: #0b5ed7;
  --text-color: #34364a;
}

* {
  margin: 0;
  font-family: Poppins;
}

.header {
  display: block;
  height: 500px;
  text-align: center;
  padding: 50px 100px;
  /* background-color: red; */
}

.headerTitle {
  font-size: 100px;
}
